body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    color: white;
    background-color: black;
    font-size: 20px;
}

main {
    width: 80%;
}

h1 {
    text-align: center;
}